.Card {
    width: 200px;
    height: 200px;    
    margin: 15px;
    background-image: url("./postitgreen.png");
    background-size: contain;
    padding: 40px 30px 20px 20px;
    /* border: solid 1px red; */
    
} 

.Card input {
    margin: 0 35px 0 0;
}