.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-left: dotted 3px;
}

.input {
  padding-bottom: 50px;
}
