* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Indie Flower', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  
  /* background: linear-gradient(to right, #fed6e3, #a8edea); */

  /* background: linear-gradient(to right, #f9f586, #96fbc4); */

  background: linear-gradient(to right, #fbed96, #abecd6);
}
