* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Indie Flower', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  
  /* background: linear-gradient(to right, #fed6e3, #a8edea); */

  /* background: linear-gradient(to right, #f9f586, #96fbc4); */

  /* background: linear-gradient(to right, #fbed96, #abecd6); */

  background: linear-gradient(to right, rgba(251,237,150, 0.7), rgba(171,236,214, 0.7));

  /* background-image: url("./components/laptop.jpg");
  background-size: cover;
  background-position: center; */
  
}


h1 {
  font-size: 2.5rem;
}